<div class="d-flex justify-content-between">
  <h2>
    Users
  </h2>
  <button mat-raised-button color="primary" [routerLink]="['/new-user']">Add new user</button>
</div>


<mat-spinner *ngIf="loading"></mat-spinner>

<div class="d-flex gap-16">
<div class="field-container">
  <mat-form-field>
    <mat-label>Filter by role</mat-label>
    <mat-select [formControl]="selectedRoles" multiple (selectionChange)="onRoleSelectionChange()">
      <mat-option *ngFor="let role of rolesList" [value]="role.id">{{ role.label  }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
  <div class="field-container">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput [(ngModel)]="query" (ngModelChange)="applyFilter($event)" placeholder="Name, First name, email..." />
    </mat-form-field>
  </div>
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.position }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email || 'Unknown' }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.firstName + ' ' + element.lastName }}</td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>Role</th>
      <td mat-cell *matCellDef="let element">{{ 'roles.' + element.role  | translate }}</td>
    </ng-container>

    <ng-container matColumnDef="doctorTermsVersion">
      <th mat-header-cell *matHeaderCellDef>Terms Version</th>
      <td mat-cell *matCellDef="let element">{{ +element.doctorTermsVersion || '-' }}</td>
    </ng-container>

    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef>Phone Number</th>
      <td mat-cell *matCellDef="let element">{{ element.phoneNumber }}</td>
    </ng-container>

    <ng-container matColumnDef="organization">
      <th mat-header-cell *matHeaderCellDef>Organization</th>
      <td mat-cell *matCellDef="let element">{{ element.organization }}</td>
    </ng-container>

    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef>Country</th>
      <td mat-cell *matCellDef="let element">{{ element.country }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">
        <mat-slide-toggle (change)="onToggle($event, element)" [checked]="element.status === 'approved' || !element.hasOwnProperty('status')"></mat-slide-toggle>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef style="width:130px;">Action</th>
      <td mat-cell *matCellDef="let element">
        <button (click)="selectUser(element)" mat-button>
          <mat-icon style="color:#2871BD">edit</mat-icon>
        </button>
        <button (click)="deleteUser(element)" mat-button>
          <mat-icon style="color: red;">delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [length]="totalUsers" [pageSize]="pageSize" (page)="onPageChange($event)" [pageSizeOptions]="pageSizeOptions">
  </mat-paginator>

</div>
