<h2>
  Médecins <button mat-raised-button color="primary" [routerLink]="['/new-user']">Ajouter un nouveau médecin</button>
</h2>

<mat-spinner *ngIf="loading"></mat-spinner>

<div class="field-container">
  <!--mat-form-field>
    <mat-label>Filtrer par role</mat-label>
    < useful if multiple role select matNativeControl (change)="filterByRole($event.target.value)">
      <option value="">None</option>
      <option value="doctor">Doctor</option>
      <option value="admin">Admin</option>
      <option value="patient">Patient</option>
    </select>
  </mat-form-field-->
  <mat-form-field style="margin-left: 10px;">
    <mat-label>Chercher</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Nom, Prénom, email..." />
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.position }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email || 'Unknown' }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.firstName + ' ' + element.lastName }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>Role</th>
      <td mat-cell *matCellDef="let element">{{ element.role }}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef style="width:130px;">Action</th>
      <td mat-cell *matCellDef="let element">
        <button (click)="selectUser(element)" mat-button>
          <mat-icon style="color:#2871BD">edit</mat-icon>
        </button>
        <button (click)="deleteUser(element)" mat-button>
          <mat-icon style="color: red;">delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons
    (page)="pageChange($event)" [length]="count"></mat-paginator>
</div>