<div class="d-flex justify-content-between">
  <h2>
    Whatsapp Templates
  </h2>
</div>
<mat-progress-spinner *ngIf="loading"></mat-progress-spinner>

<div class="field-container">
  <mat-form-field>
    <mat-label>Select Language</mat-label>
    <mat-select (ngModelChange)="onLanguageChange($event)" [(ngModel)]="selectedLanguage">
      <mat-option *ngFor="let language of languages" [value]="language.value">
        {{ language.text }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <button
      mat-stroked-button
      color="warn"
      (click)="submitAllTemplates()"
    >
      <div class="d-flex gap-16">
        <mat-spinner diameter="20" *ngIf="loadingSubmit"></mat-spinner>
        Submit All For Approval
      </div>
    </button>
  </div>
</div>
<div class="mb-16">
  <table class="mat-elevation-z8" mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name / Template SID</th>
      <td mat-cell *matCellDef="let template">
        {{ template.friendlyName }} <br>
        {{ template.sid }}
      </td>
    </ng-container>

    <ng-container matColumnDef="language">
      <th mat-header-cell *matHeaderCellDef>Language</th>
      <td mat-cell *matCellDef="let template">{{ template.language }}</td>
    </ng-container>


    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let template">
        <div class="status-box" [ngClass]="'status-' + template.approvalStatus" [matTooltip]="template.rejectionReason">
          {{ template.approvalStatus }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let template">

        <button
          class="mr-16"
          (click)="openEdit(template)" mat-button *ngIf="template.approvalStatus === TemplateStatus.draft">
          <mat-icon color="primary">edit</mat-icon>
        </button>
        <button
          mat-stroked-button
          color="primary"
          class="mr-16"
          (click)="submitTemplate(template.id)"
          [disabled]="template.approvalStatus !== TemplateStatus.draft || loadingSubmit || loadingMap[template.id]"
        >
          <div class="d-flex gap-16">
            <mat-spinner diameter="20" *ngIf="loadingMap[template.id] || loadingSubmit"></mat-spinner>
            Submit for Approval
          </div>
        </button>

        <button
          [disabled]="template.approvalStatus === TemplateStatus.draft || template.approvalStatus === TemplateStatus.approved"
          (click)="refreshStatus(template.id)" mat-button>
          <mat-icon>refresh</mat-icon>
        </button>
        <button (click)="deleteTemplate(template.id)" mat-button>
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
