<div class="d-flex justify-content-between">
  <h2>
    Whatsapp Templates
  </h2>
  <button mat-raised-button color="primary" (click)="createTemplate()">
    <mat-icon>add</mat-icon>
    Add Whatsapp template
  </button>
</div>
<mat-progress-spinner *ngIf="loading"></mat-progress-spinner>

<div class="field-container">
  <mat-form-field>
    <mat-label>Select Language</mat-label>
    <mat-select>
      <mat-option *ngFor="let language of languages" [value]="language.value">
        {{language.text}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>
  <table class="mat-elevation-z8" mat-table  [dataSource]="dataSource" >

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name / Template SID</th>
      <td mat-cell *matCellDef="let template">
        {{ template.name }}<br>
        {{template.twilioTemplateId}}
      </td>
    </ng-container>

    <ng-container matColumnDef="language">
      <th mat-header-cell *matHeaderCellDef>Language</th>
      <td mat-cell *matCellDef="let template">{{ template.language }}</td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>Category</th>
      <td mat-cell *matCellDef="let template">{{ template.category }}</td>
    </ng-container>

    <ng-container matColumnDef="contentType">
      <th mat-header-cell *matHeaderCellDef>Content Type</th>
      <td mat-cell *matCellDef="let template">{{ template.contentType }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let template">
        <span [matTooltip]="template.rejectionReason">{{ template.status }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions" >
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let template">
        <button
          mat-stroked-button
          color="primary"
          class="mr-16"
          (click)="submitTemplate(template.id)"
          [disabled]="template.status !== TemplateStatus.draft"
        >
          Submit for Approval
        </button>

        <button
          [disabled]="template.status === TemplateStatus.draft"
          (click)="refreshStatus(template.id)" mat-button>
          <mat-icon >refresh</mat-icon>
        </button>
        <button (click)="deleteTemplate(template.id)" mat-button>
          <mat-icon style="color: red;">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator #scheduledOrdersPaginator [pageSize]="10" [pageSizeOptions]="[10, 20,50,100]" showFirstLastButtons (page)="pageChange($event)"></mat-paginator>
</div>
