<ng-container *ngIf="currentUser">

  <mat-sidenav-container class="container">
    <mat-sidenav opened #sidenav mode="side" class="sidenav">
      <div class="at">@ <span>HOME</span></div>
      <mat-list class="menu-list">
          <a
            mat-list-item
            routerLink="/dashboard"
            routerLinkActive="active"
            class="menu-btn">
            <mat-icon svgIcon="dashboard"></mat-icon>
            <span class="btn-text">Dashboard</span>
          </a>
          <a
            routerLink="/users"
            routerLinkActive="active"
            class="menu-btn"
            mat-list-item
          >
            <mat-icon>supervised_user_circle</mat-icon>
            <span class="btn-text">Users</span>
          </a>

          <a
            routerLink="/queue"
            routerLinkActive="active"
            class="menu-btn"
            mat-list-item
          >
            <mat-icon svgIcon="queue"></mat-icon>
            <span class="btn-text">Waiting queues</span>
          </a>

          <a
            routerLink="/mediasoup"
            routerLinkActive="active"
            class="menu-btn"
            mat-list-item
          >
            <mat-icon svgIcon="server"></mat-icon>
            <span class="btn-text">Mediasoup</span>
          </a>

          <a
            routerLink="/sms"
            routerLinkActive="active"
            class="menu-btn"
            mat-list-item
          >
            <mat-icon >sms</mat-icon>
            <span class="btn-text">SMS</span>
          </a>

          <a
            routerLink="/whatsapp-templates"
            routerLinkActive="active"
            class="menu-btn"
            mat-list-item
          >
            <mat-icon >forum</mat-icon>
            <span class="btn-text">Whatsapp Templates </span>
          </a>
      </mat-list>

    </mat-sidenav>

    <mat-sidenav-content>
      <app-top-nav></app-top-nav>
      <div class="content">
        <router-outlet *ngIf="navigated"></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>

<router-outlet *ngIf="!currentUser"></router-outlet>
