<h1 mat-dialog-title>Create WhatsApp Template </h1>
<div mat-dialog-content >
  <div class="form-fields" [formGroup]="templateForm">
      <mat-form-field appearance="outline">
        <mat-label>Template Name</mat-label>
        <input matInput formControlName="name"  maxlength="450"/>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Language</mat-label>
        <mat-select formControlName="language" >
          <ng-container *ngFor="let language of languages">
            <mat-option [value]="language.value">{{ language.text }}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Content Type</mat-label>
      <mat-select formControlName="contentType">
        <ng-container *ngFor="let type of contentTypes">
          <mat-option [value]="type.type">{{ type.description }}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category" >
        <ng-container *ngFor="let category of categoryOption">
          <mat-option [value]="category.value">{{ category.text }}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Body</mat-label>
        <textarea #bodyTextarea matInput formControlName="body" rows="4"></textarea>
      </mat-form-field>


    <div>
      <div formArrayName="variables">
        <div
          *ngFor="let variable of variables.controls; let i = index"
          [formGroupName]="i"
          class="variable-group"
        >
          <mat-form-field appearance="outline">
            <mat-label>Variable {{ i + 1 }}</mat-label>
            <input matInput formControlName="key" />
          </mat-form-field>
          <button mat-icon-button color="warn" (click)="removeVariable(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="d-flex w-100 justify-content-end">
      <button
        mat-stroked-button
        color="primary"
        (click)="addVariable(bodyTextarea)"
      >
        Add Variable
      </button>
    </div>



    </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button color="primary" (click)="createTemplate()">Create</button>
</div>
