<div class="sms-providers">

  <h2 class="sms-providers-sub-tittle">
    SMS Settings
  </h2>

  <div class="sms-providers-description-wrapper">
    <mat-card>
      <mat-card-content>
        If several SMS providers are active, you can drag and drop to change the order. If you want to allow any number,
        put * in Prefix and press enter.
        If you want to restrict some phone country extension, remove the * and put the number like +33 and press enter.
      </mat-card-content>
    </mat-card>
  </div>
  <div cdkDropList class="sms-providers-list" (cdkDropListDropped)="drop($event)">
    <div class="sms-providers-header">
      <div>Order</div>
      <div>Provider</div>
      <div>Prefix</div>
      <div></div>
    </div>
    <ng-container *ngFor="let setting of settings; let i = index">
      <div class="sms-provider-box" *ngIf="!setting.isWhatsapp" cdkDrag>
        <div>{{ i }}</div>
        <div>{{ setting.provider }}</div>
        <div>
          <mat-form-field class="prefix-chip-list">
            <mat-chip-grid #chipList aria-label="Prefix selection">
              <mat-chip-row *ngFor="let prefix of setting.prefix.split(',')">

                {{ prefix }}
                <button matChipRemove aria-label="'remove ' + keyword" (click)="remove(prefix, setting)">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
              <input placeholder="New Prefix..."
                     [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="true"
                     (matChipInputTokenEnd)="add($event, setting)">
            </mat-chip-grid>
          </mat-form-field>
        </div>

        <div>
          <mat-chip-option color="accent" *ngIf="setting.isDisabled">Disabled</mat-chip-option>
          <mat-chip-option color="primary" selected *ngIf="!setting.isDisabled">Enabled</mat-chip-option>

        </div>
      </div>
    </ng-container>
  </div>


  <h2 class="whatsapp-provider-title">
    WhatsApp Settings
  </h2>
  <div class="whatsapp-provider-description-wrapper">
    <mat-card>
      <mat-card-content>
        If you want to allow any number, put * in Prefix and press enter.
        If you want to restrict some phone country extension, remove the * and put the number like +33 and press enter.
      </mat-card-content>
    </mat-card>
  </div>

  <ng-container *ngFor="let setting of settings; let i = index">
    <div class="sms-provider-box cursor-default" *ngIf="setting.isWhatsapp">
      <div>{{ '1' }}</div>
      <div>{{ setting.provider }}</div>
      <div>
        <mat-form-field class="prefix-chip-list">
          <mat-chip-grid #chipList aria-label="Prefix selection">
            <mat-chip-row *ngFor="let prefix of setting.prefix.split(',')">
              {{ prefix }}
              <mat-icon matChipRemove (click)="remove(prefix, setting)">cancel</mat-icon>
            </mat-chip-row>
            <input placeholder="New Prefix..."
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="true"
                   (matChipInputTokenEnd)="add($event, setting)">
          </mat-chip-grid>
        </mat-form-field>
      </div>

      <div>
        <mat-chip-option color="accent" *ngIf="setting.isDisabled">Disabled</mat-chip-option>
        <mat-chip-option color="primary" selected *ngIf="!setting.isDisabled">Enabled</mat-chip-option>

      </div>
    </div>
  </ng-container>

</div>
